body{
    background-color: black;
   /* background-image: url(https://th.bing.com/th/id/OIP.sr9iJdi8H52EOdpa4CuDlAHaDt?w=317&h=174&c=7&r=0&o=5&pid=1.7);
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: center;
    background-attachment: scroll;
*/
}

h1{
    color: rgb(63, 207, 255);
    text-align: center;
    border: 10px;
    border-style:double;
    border-radius: 15px;
    border-color: rgb(63, 207, 255);
    /* text-shadow: 2px 2px rgb(255, 0, 0); */
    font-family: cursive;

}

p{
    color: rgb(63, 207, 255);
    text-align: center;
    margin-top: 50px;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 50px;
    text-transform: capitalize;
    
}


