.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}

.box{
    border: 2px solid orange;
    background-color: aqua;
    height: 150px;
    width: 150px;
    margin: 20px;

    /* transition: 2s; */

    /* bad practice */
    /* transition-property: all; */

    /* transition-delay: 5s;*/

    /* shorthand notation */
    /* transition: all 200ms ease; */
    transition: transform 3s cubic-bezier(0.86,-0.11, 0.08, 1.21);

}

.box:hover{
    /* background-color: brown;
    transform: rotate(45deg); */

    transform: translate(500px);

}