/* global scope variable */
:root{
    --dark-red:#981a2c;
}

/* bad practice */
/* *{
    --dark-red:#9925b3;
} */

.container{
    border: 1px solid brown;
    background-color: red;
    height: 300px;
    width: 300px;
    background-color: var(--dark-red);
}

.box{
    border: 2px solid green;
    background-color: aqua;
    /* local scope variable */
    --dark-red:#981a2c;
    color:var(--dark-red);
}